body {
    background-image: url('pic/background2.png'); 
    background-size: cover;
    background-position: center;
    font-family: Arial, sans-serif;
    color: white;
    justify-content: space-between;
}
.button {
    height : 10%;
    width : 15%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.1s ease-in-out;
}