body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-image: url('pic/background.png');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.button {
    height : 10%;
    width : 15%;
    position: absolute;
    bottom: 20px;
    right: 20px;
    margin: 20px;
    padding: 10px 20px;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 24px;
    transition: transform 0.1s ease-in-out;
}

.button:active {
    transform: scale(0.9);
}

.button:hover {
    background-color: #0056b3;
}

.sysName {
    margin: middle;
    color: white;
    border: none;
    font-size: 160px;
    text-align: center;
}